.nav2{background-color:mediumspringgreen;list-style-type:disc;text-align: center;padding: auto;}
.nav2 li{font-size: large;padding:15px;text-align:centre;display:inline-block}
.bob{background-color: blanchedalmond;}
.rag{background-color: brown;}
.jas{background-color: coral;}
.pgp{background-color: darksalmon;}
.myn{background-color: darkseagreen;}